In [24]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [3]:
# Load datasets for consumption and production

df_consumption = pd.read_csv("../data/coffee/coffeee/Coffee_domestic_consumption.csv")
df_production = pd.read_csv("../data/coffee/coffeee/Coffee_production.csv")

In [6]:
df_consumption.head(5)

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

In [5]:
df_production.head(5)

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_production
0,Angola,Robusta/Arabica,3.000000e+06,4.740000e+06,4.680000e+06,1.980000e+06,4.620000e+06,3.720000e+06,4.260000e+06,3.840000e+06,...,1.740000e+06,1.980000e+06,2.100000e+06,2.340000e+06,2.460000e+06,2.700000e+06,2.100000e+06,2.520000e+06,3.120000e+06,8.208000e+07
1,Bolivia (Plurinational State of),Arabica,7.380000e+06,6.240000e+06,7.200000e+06,3.060000e+06,7.020000e+06,8.520000e+06,7.500000e+06,8.460000e+06,...,7.920000e+06,6.300000e+06,7.200000e+06,6.000000e+06,5.040000e+06,4.680000e+06,5.040000e+06,4.980000e+06,4.860000e+06,2.070000e+08
2,Brazil,Arabica/Robusta,1.637160e+09,1.637580e+09,2.076180e+09,1.690020e+09,1.691520e+09,1.083600e+09,1.751820e+09,1.568880e+09,...,2.915520e+09,3.325080e+09,3.281340e+09,3.198300e+09,3.172260e+09,3.407280e+09,3.164400e+09,3.907860e+09,3.492660e+09,7.508298e+10
3,Burundi,Arabica/Robusta,2.922000e+07,4.002000e+07,3.720000e+07,2.358000e+07,3.984000e+07,2.604000e+07,2.406000e+07,1.500000e+07,...,1.224000e+07,2.436000e+07,9.780000e+06,1.488000e+07,1.614000e+07,1.176000e+07,1.212000e+07,1.224000e+07,1.632000e+07,6.236400e+08
4,Ecuador,Arabica/Robusta,9.024000e+07,1.274400e+08,7.110000e+07,1.241400e+08,1.425600e+08,1.132800e+08,1.195800e+08,7.146000e+07,...,4.950000e+07,4.968000e+07,3.996000e+07,3.864000e+07,3.864000e+07,3.870000e+07,3.744000e+07,2.976000e+07,3.354000e+07,1.900380e+09

In [27]:
# Join columns
df_joined = df_production.merge(df_consumption, on='Country', how='left')
df_joined = df_joined[["Country","Total_domestic_consumption","Total_production"]]
df_joined.head(5)

,Country,Total_domestic_consumption,Total_production
0,Angola,46500000,8.208000e+07
1,Bolivia (Plurinational State of),75180000,2.070000e+08
2,Brazil,27824700000,7.508298e+10
3,Burundi,3412020,6.236400e+08
4,Ecuador,381540000,1.900380e+09

In [66]:
# Clean country names
df_joined.replace("Bolivia (Plurinational State of)", "Bolivia", inplace=True)
df_joined.replace("Viet Nam", "Vietnam", inplace=True)
df_joined.replace("Lao People's Democratic Republic","Laos", inplace=True)
df_joined.replace("Trinidad & Tobago", "Bolivia", inplace=True)
df_joined.replace("Democratic Republic of Congo", "Congo DRC", inplace=True)

In [65]:
# Read in geojson
world = gpd.read_file('../data/World_Countries_Generalized.geojson')
world.head(10)

,FID,COUNTRY,ISO,COUNTRYAFF,AFF_ISO,SHAPE_Length,SHAPE_Area,geometry
0,1,Afghanistan,AF,Afghanistan,AF,50.803210,62.566714,"MULTIPOLYGON (((61.27655 35.60725, 61.29638 35..."
1,2,Albania,AL,Albania,AL,9.625038,3.073540,"MULTIPOLYGON (((19.57083 41.68527, 19.58195 41..."
2,3,Algeria,DZ,Algeria,DZ,70.540082,213.513461,"MULTIPOLYGON (((4.60335 36.88791, 4.63555 36.8..."
3,4,American Samoa,AS,United States,US,0.600124,0.013720,"MULTIPOLYGON (((-170.74390 -14.37555, -170.749..."
4,5,Andorra,AD,Andorra,AD,0.937352,0.055585,"MULTIPOLYGON (((1.44584 42.60194, 1.48653 42.6..."
5,6,Angola,AO,Angola,AO,58.873470,103.813059,"MULTIPOLYGON (((23.47611 -17.62584, 23.28916 -..."
6,7,Anguilla,AI,United Kingdom,GB,0.468389,0.007798,"MULTIPOLYGON (((-63.16778 18.16445, -63.15695 ..."
7,8,Antarctica,AQ,,,1564.144143,5672.928286,"MULTIPOLYGON (((-179.99999 -84.30535, -179.931..."
8,9,Antigua and Barbuda,AG,Antigua and Barbuda,AG,1.162901,0.045626,"MULTIPOLYGON (((-61.73806 16.98972, -61.82917 ..."
9,10,Argentina,AR,Argentina,AR,138.751348,278.308965,"MULTIPOLYGON (((-71.85916 -41.01128, -71.83806..."

In [69]:
# Clean up country names somehow
world_coffee = world.merge(df_joined,left_on='COUNTRY', right_on='Country',how='left')

In [73]:
# Export 
world_coffee.to_file("../data/coffee/coffee.geojson", driver="GeoJSON")

In [68]:
# df_joined_draft = df_joined.merge(world_coffee,left_on='Country', right_on='COUNTRY',how='left')
# df_joined_draft[df_joined_draft.geometry==None]

Empty DataFrame
Columns: [Country_x, Total_domestic_consumption_x, Total_production_x, FID, COUNTRY, ISO, COUNTRYAFF, AFF_ISO, SHAPE_Length, SHAPE_Area, geometry, Country_y, Total_domestic_consumption_y, Total_production_y]
Index: []